body {
  background-image: url('./photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
h1 {
  color: white;
  font-size: 60px;
  text-align: center;
}
#game {
  text-align: center;
  background-color: rgb(215, 217, 211);
  border-radius: 20px;
  height: 250px;
  width: 500px;
  margin-top: 150px;
  margin-left: 35%
}
h3 {
  font-size: 30px;
}
#guess {
  padding: 5px;
  font-size: 20px;
  width: 40%;
  border: 3px solid black;
}
#btn {
  background-color: black;
  font-size: 15px;
  color: aliceblue;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  border: none;
}
@media all and (max-width: 800px){
  .container{
    flex-direction: column;
    height: 100vh;
  }
}